<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/fragment :: headfragment">
    
    </head>
    <body>
        <h1>All Students</h1>       
    	<!-- div th:each="student,iterationStatus: ${students}" th:class="${iterationStatus.odd}?'odd'">
            <h3 th:text="'No. ' + ${iterationStatus.count}">No. 1</h3>
	       	<h3 th:text="'NPM = ' + ${student.npm}">Student NPM</h3>
	       	<h3 th:text="${iterationStatus.odd}"></h3>
	       	<h3 th:text="'Name = ' + ${student.name}">Student Name</h3>
	       	<h3 th:text="'GPA = ' + ${student.gpa}">Student GPA</h3>
	       	<h3 th:text="${student.gpa>=3.49} ? 'Cum Laude' : 'Sangat Memuaskan'"></h3>
			<ul th:each="course,iterationStatus: ${student.courses}">
			<li th:text="${course.name} + '-' + ${course.credits} + ' sks'" >
			Nama kuliah-X SKS
			</li>
			</ul>
	       	<a th:href="'/student/delete/' + ${student.npm}" > Delete Data</a><br/>
	       	<a th:href="'/student/update/' + ${student.npm}" > Update Data</a><br/>
	       	<hr/>
       	</div-->
       	<table id="table" class="display">
       		<thead>
       			<tr>
       				<th>No.</th>
       				<th>NPM</th>
       				<th>Name</th>
       				<th>GPA</th>
       				<th>Cum Laude</th>
       				<th>Delete</th>
       				<th>Update</th>
       			</tr>
       		</thead>
     		<tbody>
     			<tr th:each="student,iterationStatus: ${students}" th:class="${iterationStatus.odd}?'odd'">
     				<td th:text="${iterationStatus.count}"></td>
     				<td th:text="${student.npm}"></td>
     				<td th:text="${student.name}"></td>
     				<td th:text="${student.gpa}"></td>
     				<td th:text="${student.gpa>=3.49} ? 'Cum Laude' : 'Sangat Memuaskan'"></td>
     				<td> <a th:href="'/student/delete/' + ${student.npm}" > Delete Data</a> </td>
     				<td> 	<a th:href="'/student/update/' + ${student.npm}" > Update Data </a></td>
     			</tr>
     		</tbody>
       	</table>
    </body>
</html>
